html, body {
	background: #0cc98e; /* Beccapurple */
	margin: 0;
}

p
{
 	margin-bottom: 1em;
}


body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
}


