html, body {
	background: #0cc98e; /* Beccapurple */
	margin: 0;
}

p
{
 	margin-bottom: 1em;
}


body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}


nav ul{
  list-style-type: none;
  /*background: #663366;*/
  margin: 0;
  padding: 0;
  text-align: center;
  background: #333;
}

nav li{
  display: inline-block;
  float: center;
}

li a{
  display: block;
  color: white;
  padding: 9px 16px;
  text-decoration: none;
}

li a:hover{
 background-color: #111;
}


h2{
  text-align:center;
  margin-bottom: 0em ;
  margin-top: 0em ;
  padding-bottom: 0;
}

h4{
  margin-top: 0em;
  text-align:center;
  padding-bottom: 0;
  margin-bottom: 1em;
}

h1{
  text-align:center;
}


